.banner {
    background-size: cover;
    background-position: center center;
    height: 450px;
    position: relative;
    margin-bottom: 20px;
    
  }
  
  .banner::before {
    content: "";
    background-image: linear-gradient(to top, #141414 0%, transparent 100%);
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1;
    font-size: 1rem;
  }
  
 .banner__contents {
    margin-left: 30px;
    padding-top: 14px;
    height: 40px;
    position: relative;
    color: #ffff;
    z-index: 2;
    color: white;
    width: 30%;
    text-align: left;
   
  }
  
  .banner__title {
    font-weight: 800;
    padding-bottom: 0.3rem;
    margin-top: 130px;
   
  }
  
  .banner__button__play {
    margin-top: 1rem;
    margin-right: 10px;
    color: white;
    background-color: rgba(53, 51, 51, 0.405);
    padding: auto;
    padding: 5px 10px;
    border-radius: 0.2rem;
  }
  
  .banner__button__myList {
    margin-top: 1rem;
    color: white;
    background-color: rgba(53, 51, 51, 0.405);
    padding: 5px 10px;
    border-radius: 0.2rem;
  }
  
  .banner__description {
    width: 20rem;
    line-height: 1.3;
    padding-top: 0.5rem;
    max-width: 360px;
    height: 80px;
    color: white;
  }
  
  .banner-fade-bottom {
    height: 7.4rem;
    background-image: linear-gradient(to bottom, #141414dd, #14141400);
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 99;
  }
  